<div id="header-wrap">
  <div id="header">
    <h1>      </h1><br/>
    <br/>
  </div>
</div>

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <% @recipes.each_with_index do |recipe, i| %>
    <div class="item <%= i == 0 ? "active": "" %>">
      <p align="center">
        <%= image_tag(recipe["image_url"], class: "img_responsive") %>
      </p>
      <div class="carousel-caption">
        <p vertical-align="bottom"><%= recipe["title"].capitalize %></p>
      </div>
    </div>
    <% end %>

  </div>

  <!-- Controls -->
  <!-- <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a> -->
</div>



<div class="">
  <h1 class="well"> Recipes </h1>

  <div id="masonry-container" class="transitions-enabled infinite-scroll clearfix">
    <div class="grid">
    <%  @recipes.each do |recipe| %>
      <div class="col-xs-2">
        <p> <%= link_to"#{image_tag(recipe["image_url"], class: "img-responsive")}".html_safe, recipe["source_url"], target: "_blank"%></p>
        <%=recipe["title"] %>
        <button type="button" class="btn btn-warning btn-xs">
          <%=link_to "Add to Favorites", favorite_recipes_path(source_url: recipe["source_url"], image: recipe["image_url"], title: recipe["title"]), method: :post, remote: true%></button><br/>

      </div>
      <% end %>
    </div>
  </div>


</div>

<script>
  $(function() {
    $('#masonry-container').masonry({
      itemSelector: '.col-xs-2'
    });
    ;
  });
</script>
