<div class="panel-ingredients">
  <div class="panel-heading">
    <h1 class="brand-heading"> Ingredients </h1>

    <body>

        <p>
          <%= form_tag("/recipes", method: "post") do %>

          <%  @ingredients.each do |ingredient| %>
          <%= check_box_tag(ingredient.name) %>
          <%= label_tag(ingredient.name) %>
          <%= link_to 'Delete', ingredient, method: :delete, data: {confirm: "Are you sure?"}, class: 'btn btn-xs btn-danger' %><br/ >
          <% end %>
          <%= submit_tag "Let's Get Recipes", :class => "btn btn-warning"%>
        </p>

    </body>
  </div>
<% end %>
